version: '3.8'

services:
  freepbx:
    image: tiredofit/freepbx:latest
    container_name: freepbx_app
    restart: always
    network_mode: host
    cap_add:
      - NET_ADMIN
      - SYS_NICE
    environment:
      - CONTAINER_NAME=freepbx-app
      - DB_EMBEDDED=TRUE
      - RTP_START=10000
      - RTP_FINISH=20000
      - HTTP_PORT=8080
      - HTTPS_PORT=8443
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - ENABLE_FLASH_OPERATOR_PANEL=FALSE
    volumes:
      - freepbx_data:/var/lib/asterisk
      - freepbx_etc:/etc/asterisk
      - freepbx_www:/var/www/html
      - freepbx_log:/var/log/asterisk

volumes:
  freepbx_data:
  freepbx_etc:
  freepbx_www:
  freepbx_log:
